body {
    overflow: hidden;
    --color0: #1a181c;
    --color1: #71EA28;
    --color2: #3F5C72;
    --color3: #406c8e;
    --color4: #7dadd3;
    --colorWhite: #FEFEF5;
}

* {
    font-family: 'Balsamiq Sans', sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: var(--colorWhte);
}

h1 {
    font-size: 72px;
    line-height: 80%;
}

h2 {
    font-size: 20px;
    line-height: 150%;
}

p {
    color: var(--color1);
    font-size: 16px;
}