body {
    padding: 80px 0;
}




nav {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    z-index: 11;
    background: var(--color1);
}

.nav__changeLang {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.nav__logo {
    width: 50px;
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
}

.nav__logo img {
    width: 100%;
}


@keyframes shake {
    0% {
        transform: translate(0, 0);
    }
    5% {
        transform: translate(3.5%, 3.5%);
    }
    10% {
        transform: translate(-3.5%, -3.5%);
    }
    15% {
        transform: translate(3.5%, 3.5%);
    }
    20% {
        transform: translate(-3.5%, -3.5%);
    }
    25% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}

.nav__cart._active {
    position: relative;
    animation: shake 2.4s ease-in-out infinite;
}

.nav__cart._active::before {
    content: '';
    position: absolute;
    top: -2px;
    right: -2px;
    width: 12px;
    height: 12px;
    color: white;
    background-color: orange;
    border-radius: 50%;
}












.dishes {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.dishes__nav {
    width: 88%;
    padding: 8px 16px;

    background-color: var(--color1);
    border-radius: 20px;

    z-index: 102;

    overflow-x: auto;
    /* overflow-y: hidden; */

    position: sticky;
    top: 50px;
    left: 6%;

    transform-origin: center center;
    transition: 300ms cubic-bezier(.01, .61, .97, .3);

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: nowrap;
    gap: 20px;

    white-space: nowrap;
}

.dishes__nav a._active {
    color: var(--color3);
    font-weight: 500;
}

.dishes__nav a {
    flex-shrink: 0;
    font-size: 18px;
}

.dishes__nav._fullwidth {
    width: 100vw;
    border-radius: 0 0 20px 20px;
    transform: translateX(0);
}

.dishes__list {
    display: flex;
    align-items: stretch;
    padding: 16px;
    gap: 16px;
    overflow-y: hidden;
    overflow-x: auto;
    width: 100vw;
    flex-wrap: nowrap;
}







.card {
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 333px;
    border: 2px solid var(--color3);
    border-radius: 20px;
    flex-shrink: 0;
    background: var(--color1-1);
    padding: 0;
    background: var(--color1);
}

.card__content {
    padding: 20px 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.card__price {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.card__portion {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.card__img {
    width: 100%;
    height: 200px;
}

.card__img img {
    object-fit: cover;
    object-position: center center;
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.card__name {
    margin-bottom: 10px;
}

.card__description {
    margin-bottom: 25px;
}

.portion__management {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.portion__management button,
.portion__management p {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color1);
    transition: 200ms;
    font-size: 20px;
    border-radius: 4px;
    border: 1px solid var(--color3);
}

.portion__management button:active {
    background-color: var(--color3);
    color: var(--color1);
    transform: scale(101%);
}


