/*Start page ⬇ */
body {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../img/Back.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




.startPage__main {
    margin: auto;
    width: 80%;
    padding: 24px;
    color: var(--colorWhite);
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    top: 50vh;
    transform: translateY(-50%);
    animation: toTop 1s ease-in-out;
}

@keyframes toTop {
    0% {
        transform: translateY(70%);
        opacity: 0;
    }
    100% {
        transform: translateY(-50%);
        opacity: 1;
    }
}



.main__buttonsLang {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    gap: 30px;
}

.main__buttonsLang button {
    border: 1px solid var(--color1);
    color: var(--color1);
    width: 100%;
    background: transparent;
    padding: 16px 0;
    border-radius: 10px;
}




.logo {
    position: fixed;
    top: 10vh;
}
/*Start page ⬆ */