body {
    min-height: 100vh;
    background-image: url(../img/main/bg-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.overlay {
    background-color: var(--color0);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
}

*::-webkit-scrollbar {
    width: 0;
    height: 0;
}

* {
    color: var(--color4);
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-weight: 700;   
}

h2 {
    font-weight: 600;
    text-align: center;
}

h3 {
    font-weight: 500;
}


hr {
    border: 0;
    background: var(--color4);
    border-radius: 4px;
    height: 1px;
}





._circleBtn {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 100%;
    background: var(--color1);
    color: var(--color4);
    font-size: 16px;
    transition: 250ms;
    border: 2px solid var(--color3);
}



._circleBtn:hover::not(.nav__cart), ._circleBtn:hover::not(.nav__cart) * {
    background-color: var(--color3);
    color: var(--color1);
    transform: scale(1.1);
}

._circleBtn:active, ._circleBtn:active *, ._circleBtn._active, ._circleBtn._active * {
    background-color: var(--color3);
    color: var(--color1);
    transform: scale(1.1);
}